################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/cplusplus-primer-plus-exercises/v16
/x64/Debug
/e372/x64/Debug
/e371/x64/Debug
/e277/x64/Debug
/e276/x64/Debug
/e275/x64/Debug
/e274/x64/Debug
/e273/x64/Debug
/e272/x64/Debug
/e271/x64/Debug
/e373/x64/Debug
/e373/Release
/e372/Release
/e371/Release
/e277/Release
/e276/Release
/e275/Release
/e274/Release
/e273/Release
/e272/Release
/e271/Release
/e374/Release
/e374/x64/Debug
/e375/x64/Debug
/e375/Release
/Release
/e377/Debug
/Debug
/e375/Debug
/e374/Debug
/e373/Debug
/e372/Debug
/e371/Debug
/e277/Debug
/e276/Debug
/e275/Debug
/e274/Debug
/e273/Debug
/e272/Debug
/e271/Debug
/e376/Debug
/e376/Release
